/*!
*
* PROJECT: Portfolio nepozitek.cz
* AUTHORS: David & Ondra Nepozitek
*
*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Loader...............Page loading styles
 *
 * TOOLS
 * Helpers..............Useful helpers.
 *
 * BASE
 * Individual...........Core styles of individual pages.
 * Color-mutations......Specific colors for individual sites.
 * Main-navigation......Main navigation.
 *
 * COMPONENTS
 * Landing..............The main landing page.
 * Leading..............The leading section of individual sites.
 * About................The about section of individual sites.
 * Contact..............The contact section of individual sites.
 *
 */



/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/


@david-landing-color: #2979ff;
@ondra-landing-color: #ea8b37;

@1440:  ~"all and (max-width: 90em)";
@1024: ~"all and (max-width: 82.5em)";
@960: ~"all and (max-width: 63.9375em)";
@768: ~"all and (max-width: 59.9375em)";
@480: ~"all and (max-width: 47.9375em)";
@360: ~"all and (max-width: 29.9375em)";
@320: ~"all and (max-width: 22.4375em)";

@1920m: ~"all and (min-width: 120em)";
@1440m: ~"all and (min-width: 90em)";
@1024m: ~"all and (min-width: 64em)";
@960m: ~"all and (min-width: 60em)";
@768m: ~"all and (min-width: 48em)";
@480m: ~"all and (min-width: 30em)";
@360m: ~"all and (min-width: 22.5em)";
@320m: ~"all and (min-width: 20em)";

@1024h: ~"all and (max-height: 82.5em)";
@960h: ~"all and (max-height: 63.9375em)";
@768h: ~"all and (max-height: 59.9375em)";
@480h: ~"all and (max-height: 47.9375em)";
@360h: ~"all and (max-height: 29.9375em)";
@320h: ~"all and (max-height: 22.4375em)";

a[href]{
  text-decoration: none;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*{
  box-sizing: border-box;
}





/*------------------------------------*\
  #LOADER
\*------------------------------------*/

@keyframes pulse {
  0%{opacity: 0; transform: scale(1)}
  50%{opacity: 0.6; transform: scale(5)}
  100%{opacity: 0; transform: scale(7)}
}


.js{
  .preload{
    background-image: none !important;

    *{
      visibility: hidden !important;
    }

    .loader{
      display: block;
      opacity: 1 !important;
      visibility: visible !important;
      overflow: visible !important;

      circle{
        visibility: visible !important;
        stroke: #fff;
        stroke-width: 0.5;
        transform-origin: 50% 50%;
        fill: transparent;

        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }


      circle:nth-of-type(2){
        animation-delay: 0.5s;
      }
    }

  }


  .loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
}


.no-js{
  .loader{
    display: none;
  }
}







/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}





/*------------------------------------*\
  #INDIVIDUAL
\*------------------------------------*/


/*------------------------------------*\
  #COLOR-MUTATIONS
\*------------------------------------*/

.individual--david{
  background-color: #2f4fd4;

  .leading-section{
    background: #2f4fd4 url(../img/david_pattern.jpg);

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

      background: #2f4fd4 url(../img/david_pattern@2x.jpg);
      background-size:  869px 634px;

    }
  }

  .main-navigation__item a{
    color: #2e67c6;
  }

  .about__heading{
    color: #2e67c6;
  }

  .brother{
    background-color: #2e66c5;
  }
}

.individual--ondra{
  background-color: #f27c36;

  .leading-section{
    background: #f27c36 url(../img/ondra_pattern.jpg);

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

      background: #f27c36 url(../img/ondra_pattern@2x.jpg);
      background-size:  869px 634px;

    }
  }

  .main-navigation__item a{
    color: #f27c36;
  }

  .about__heading{
    color: #f27c36;
  }

  .brother{
    background-color: #f27c36;
  }
}







/*------------------------------------*\
  #MAIN-NAVIGATION
\*------------------------------------*/

.no-js{

  .main-navigation{
    display: none;
  }
}


.main-navigation{
  position: fixed;
  display: inline-block;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  transform: translateX(300px);
}

  .main-navigation__switch{
    position: absolute;
    width: 80px;
    height: 80px;
    left: -80px;
    background-color: rgba(255,255,255,0.2);
    transition: 0.3s;
    cursor: pointer;

    &:hover{
      background-color: rgba(255,255,255,0.4);
    }

    &--dark{
      background-color: rgba(0,0,0,0.1);

      &:hover{
        background-color: rgba(0,0,0,0.2);
      }
    }
  }

  .main-navigation--open{

    .main-navigation__switch{


      @media all and (max-width: 23.75em) {
        left: 0;
        background-color: rgba(0,0,0,0.1);

        &:hover{
          background-color: rgba(0,0,0,0.2);
        }
      }
    }
  }

    .main-navigation__switch-svg{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 22px;
      width: 25px;
    }

    .main-navigation__switch-line{
      fill: #fff;
    }

  .main-navigation__container{
    display: inline-table;
    height: 100%;
    width: 100%;
    background-color: white;
    padding-bottom: 75px;
  }

  .main-navigation__list{
    padding: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .main-navigation__item{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    line-height: 80px;

    @media @360 {
      line-height: 70px;
    }

    a{
      font-size: 26px;
      transition: 0.5s;

      &:hover{
        color: #b3b7c2;
      }
    }

    &:after{
      content: "";
      display: block;
      margin: auto;
      width: 40px;
      height: 2px;
      background-color: #d4d4d4;
    }

    &:last-of-type:after{
      display: none;
    }
  }

  .main-navigation__bottom{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

    .main-navigation__bottom-mail{
      font-family: "Merriweather", serif;
      font-style: italic;
      text-align: center;
      color: #25272b;

      &:hover{
        text-decoration: underline !important;
      }
    }

    .main-navigation__bottom-linkedin{
      width: 80px;
      display: block;
      margin: 0 auto 10px auto;

      .linkedin-rectangle{
        transition: 0.3s;
      }

      &:hover{

        .linkedin-rectangle{
          fill: #0077B5;
        }
      }
    }

.main-navigation__overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 80;
  background-color: rgba(0,0,0,0.4);
  display: none;
}






/*------------------------------------*\
  #LANDING
\*------------------------------------*/

.landing{
  background: #1a1f33 url(../img/landing_pattern.jpg);
  height: 100%;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

    background: #1a1f33 url(../img/landing_pattern@2x.jpg);
    background-size:  869px 634px;

  }
}

  .landing__title{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    color: white;
    margin-bottom: 100px;

    @media @360h {
      margin-bottom: 30px;
    }

    @media @480{
      margin-bottom: 40px;
    }
  }

  .landing__main{
    width: 100%;
    height: 100vh;
    display: table;
  }

    .landing__section{
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      text-align: center;
    }

      .landing__box{
        display: inline-table;
        position: relative;
        height: 170px;
        width: 300px;
        transition: 0.3s;
        vertical-align: top;
        overflow: hidden;
        margin-bottom: 10px;

        &--hoverable{
          
          &:hover{
            background-color: rgba(0,0,0,0.2);
          }
        }
      }

      .landing__box--right{
        margin-left: 170px;

        @media @960{
          margin-left: 40px;
        }

        @media @480{
          display: table;
          margin: 30px auto 10px auto;
        }
      }

      .landing__box--ondra{

        .landing__box-subtitle{
          color: @ondra-landing-color;
        }
      }

      .landing__box--david{

        .landing__box-subtitle{
          color: @david-landing-color;
        }
      }

      .landing__box-title{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        margin: 0;
        transition: 0.3s;
        opacity: 1;
      }

      .landing__box-subtitle{
        font-family: "Merriweather", serif;
        font-style: italic;
        font-size: 16px;
        margin-top: 15px;
        overflow: hidden;
      }

      .landing__box-content{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }

      .landing__border{
        height: 170px;
        width: 300px;
        position: absolute;

        line{
          stroke-width: 4;
          stroke: #fff;
          fill: none;
        }
      }

      .landing__border-top,
      .landing__border-bottom{
        stroke-dasharray: 330 240 30;
      }

      .landing__border-right,
      .landing__border-left{
        stroke-dasharray: 200 110 30;
      }






/*------------------------------------*\
  #LEADING-SECTION
\*------------------------------------*/


.leading-section{
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: table;
  text-align: center;
  position: relative;
}

  .scroll-icon{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 36px;
    height: 60px;
    border-radius: 15px;
    border: solid 1px #fff;
    display: block;

    @media @320h {
      display: none;
    }
  }

  .scroll-icon__wheel{
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #fff;
  }

  .leading-section__content-wrap{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    @media @360h {
      padding-bottom: 80px;
    }

    @media @320h {
      vertical-align: middle;
      padding-bottom: 0;
    }
  }

  .leading-section__content{
    display: inline-block;
    color: white;
  }

    .leading-section__title-wrap{
      display: inline-block;

      @media @320 {
        overflow: hidden;
      }
    }

    .leading-section__title{
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 60px;
      margin: 16px auto;

      @media @480 {
        font-size: 40px;
      }

      @media @360 {
        font-size: 30px;
      }

      @media @320 {
        width: 90%;
      }
    }

    .leading-section__subtitle{
      font-family: "Merriweather", serif;
      font-style: italic;
      font-size: 26px;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;

      @media @480 {
        font-size: 22px;
      }

      @media @360 {
        font-size: 18px;
      }

      @media @320 {
        font-size: 18px;
      }
    }

    .leading-section__line{
      height: 2px;
      width: 116%;
      margin-left: -8%;
      background-color: #fff;

      @media @320 {
        width: 100%;
        margin: auto;
      }
    }





/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.about{
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

  .about__heading{
    font-size: 26px;
    font-family: "Montserrat Light", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .about__line{
    width: 100%;
    height: 2px;
    background-color: #c9cad1;
    opacity: 0.5;
  }

  .about__text-wrap{
    display: inline-block;
    width: 700px;
    
    @media @480 {
      width: 90%;
    }
  }

  .about__text{
    padding: 30px 50px;
    font-family: "Montserrat Light", sans-serif;
    color: #9396a3;
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    margin: auto;
    display: inline-block;

    @media @480{
      padding: 20px 35px;
    }

    @media @360{
      padding: 20px 10px;
    }
  }





/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contact{
  background-color: white;
  display: inline-block;
  width: 100%;
}

  .contact__container{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #1a2037;
  }

  .contact__content{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    padding: 30px 0;
  }

  .contact__heading{
    font-size: 18px;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 400;
  }

  .contact__mail{
    display: inline-block;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
    position: relative;

    @media @480 {
      font-size: 30px;
    }

    @media @360 {
      font-size: 20px;
    }
  }

  .contact__mail--hoverable{

    .contact__mail-border{
      transition-property: width, top;
      transition-delay: 0.2s, 0s;
      transition-duration: 0.2s, 0.2s;
    }

    .contact__mail-fill{
      transition: 0.2s 0s;
    }

    &:hover{

      .contact__mail-border{
        transition-delay: 0s, 0.2s;
        width: 100%;
        top: 0;
      }

      .contact__mail-fill{
        height: 100%;
        transition-delay: 0.2s;
      }
    }
  }

  .contact__mail-border{
    position: absolute;
    width: 100px;
    height: 3px;
    top: 100%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;

    @media @360 {
      width: 50px;
    }
  }

  .contact__mail-fill{
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.1);
  }


.brother{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.brother__text{
  display: inline-block;
  font-family: "Merriweather", serif;
  font-style: italic;
  color: white;
  text-decoration: underline !important;
  padding: 10px 0;

  &:hover{
    text-decoration: none !important;
  }
}